*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

:root {
    --clr-primary: #1992d4;
    --clr-secondary: #efb222;
    --clr-grey-bg: #e2e8f0;
    --clr-black: #202020;
    --clr-text: white;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/Inter-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: var(--clr-black);
}

.container {
    height: 100vh;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 190px 1fr;
}

nav {
    background-color: var(--clr-primary);
    grid-column: 1/2;
    grid-row: 1/3;
    color: var(--clr-text);
    padding: 1.5rem;
    font-size: 1.25rem;
}


.nav-dashboard-logo {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.nav-main-list li,
.nav-secondary-list li {
    padding: 0.75rem;
}

.nav-main-list {
    margin-bottom: 2rem;
}


header {
    grid-column: 2/6;
    background-color: white;
}

main {
    background-color: var(--clr-grey-bg);
    grid-column: 2/6;
    grid-row: 2/3;
}